<!DOCTYPE html>
<head>
    <title>Tridib Das</title>
    <meta name="viewport" content="width=device-width">
    <link rel = "stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="nav-li-flex">
            <li> <a href="achivements.html", style="text-decoration:none; color: whitesmoke;">Achievements</a></li>
            <li> <a href="https://zenxt.data.blog/", style="text-decoration:none; color: whitesmoke;">Blog</a></li>
            <li> <a href="https://github.com/dastkd69", style="text-decoration:none; color: whitesmoke;">Github</a></li>
            <li> <a href="achivements.html", style="text-decoration:none; color: whitesmoke;">Contact Me</a></li>
        </ul>
    </nav>
    <div class="nameBlock">
        <h1><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.is()</span><br> <span id = "nameTag">Tridib Das</span></h1>
        <h3>A 17yo programmer and mechanic.</h3>
    </div>
    <div class="skillBlock">
        <h2><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.knows()</span><br> 
            <span id = "skillTag">Programming</span></h2>
            <h4>Python, Java, C++, Rust, C#<h4> 
            <h2><span id = "skillTag">Web Development</span></h2>
            <h4>Flask(duh! made this site), HTMl/CSS, LAM(ongo)P(ython) Stack (Nginx is LOVE though.)</h4>
            <h2><span id = "skillTag">Databases</span></h2>
            <h4>MySQL, SQLite, MongoDB, REDIS!(Love this)</h4>
            <h2><span id = "skillTag">More (Ye I'm OOFIE?)</span></h2>
            <h4>Linux(Best stuff ever), Networking, Servers(NGINX!), Photoshop, Finances(quite a bit):3</h4> 
            <h2><span id = "skillTag">STEM?</span></h2>
            <h4>Raspberry Pi, Arduino, nodecmu, Robots, UAVs,</h4> 
    </div>
    <div class="workBlock">
        <h5><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.get('Highlights')</span><br>
        <span id = "workTag">Can't fit more :3</span></h5>
    </div>
    <div class="blogBlock">
        <h5><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.get('LatestPosts')</span><br>
        <span id = "workTag">I write(read rant)here.</span></h5>
    </div>
</body>
</html>